body {
    font-family: "Lexend", sans-serif;
    background-color: #5D2FA2;
    color: #00FBFF;
    margin: 0;
    padding: 0;
}

.h {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 0.3em;
    text-align: center;
}

.description {
    font-size: 2em;
    text-align: left;
    margin-bottom: 1em;
}

.pic {
    display: block;
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 5px;
}

.navbar {
    background-color: #B0FF61;
    color: #0400FF;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.footer {
    background-color: #3A1D68;
    color: white;
    padding: 30px;
    margin-top: 50px;
}

.footer a {
    color: #00FBFF;
}

.footer a:hover {
    color: white;
}

.footer ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
}